@font-face {
  font-family: 'Neon';
  font-style: normal;
  font-weight: normal;
  src: local('NeonAbsoluteSansRegular'), url('fonts/NeonAbsoluteSans.ttf') format('ttf');
}
@font-face {
  font-family: 'Absolute';
  font-style: normal;
  font-weight: normal;
  src: local('AbsoluteNeonScriptRegular'), url('fonts/AbsoluteNeonScript.ttf') format('ttf');
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #202732;
}
strong, em{
  font-weight: normal;
  font-style: normal;
}
small{
  position: absolute;
  top: 31px;
  left: 48px;
  font-family: 'Absolute', sans-serif;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 3px;
  color: #A52929;
  text-shadow: 0px 0px 2px black;
  margin-top: 1%;
  border: 0px black solid;
}
select{
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: none;
  font-family: 'Neon', sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #e6e6ff;
  text-shadow: 0px 0px 2px #e6e6ff;
}
input{
  width: 95%;
  padding: 3%;
  margin-right: 2%;
  border: none;
  border-radius: 25px;
  font-family: 'Neon', sans-serif;
  font-size: 20px;
  font-style: italic;
}
input:focus{
  outline: none;
}
.list li{
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 10% 0%;
  border: 0px solid white;
}
li:hover{
  font-weight: 900;
  transform: scale(1.1);
}
a{
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  border: 0px solid white;
}
a img{
  width: 12%;
  margin-right: 2%;
}

.header__logo{
  width: 5%;
  height: 7%;
  border: 0px solid black;
}
.header__icons{
  width: 35px;
  height: 35px;
}
.header__description{
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 0px black solid;
}
.nav-container{
  width: 45%;
  display: flex;
  justify-content: space-around;
  border: 0px black solid;
}
.nav__items{
  display: flex;
  align-items: flex-end;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 3px;
  color: #A52929;
  text-shadow: 0px 0px 2px black;
}

.page{
  width: 100%;
  display: flex;
  align-items: center;
  border: 0px solid red;
}
.page--background{
  box-shadow: 0px 0px 4px #e6e6ff;
  background-color: #9cbdf3;
  font-family: 'Neon', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #e6e6ff;
}
.page--background h1{
  position: absolute;
  top: 20px;
  left: 70px;
  font-size: 40px;
  margin: 0% auto;
  border: 0px black solid;
}
.welcome-picture{
  width: 75%;
}
.welcome-text{
  width: 25%;
  padding: 0% 1%;
  font-family: 'Neon', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #e6e6ff;
  text-align: justify;
  border: 0px solid #fff;
}
.welcome-text h2{
  font-size: 23px;
  text-align: center;
  margin: 2% 0%;
}
.advantage img{
  width: 50%;
  margin: 5% auto;
}
.advantage h2{
  font-size: 20px;
  font-weight: 700;
  color: #202732;
  text-shadow: 0px 0px 1px #2c2c2c;
  text-align: center;
}
.footer-logo{
  width: 13%;
  height: 16%;
  margin-left: 5%;
  border: 0px solid #fff;
}
.footer__info{
  width: 200%;
  margin: 12% 0% 0% 0%;
  padding-bottom:2%;
  display: flex;
  justify-content: space-around;
  border-bottom: 4px solid #fff;
}
.footer__info h3{
  font-family: 'Absolute', sans-serif;
  font-size: 25px;
  letter-spacing: 4px;
  color: #A52929;
}
.footer__info p{
  margin: 0% 3%;
  font-family: 'Neon', sans-serif;
  font-size: 16.5px;
  color: #e6e6ff;
}
.footer__legal{
  width: 100%;
  display: flex;
  margin: 5% 0% 0% 55%;
  font-family: 'Neon', sans-serif;
  font-weight: 500;
  text-shadow: 0px 0px 3px #2c2c2c;
  border: 0px solid #fff;
}